<!-- Success message -->
@if (successMessage) {
  <h2 style="color: rgb(236, 133, 64); font-weight: bold; margin-bottom: 10px; size: 30px;">
    {{ successMessage }}
  </h2>
}

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email">

    </div>

    <div>
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Password">
        
        
    </div>

   <button  type="submit" [disabled]="isLoading || loginForm.invalid">  <!--no need to event bind-->

    @if (!isLoading) {
    <span >LOG IN</span>}

    @if (isLoading) {
    <span class="spinner"></span>}
  </button>
  
</form>

<!-- Error message -->
@if (errorMessage) {
  <p style="color: rgb(155, 4, 4); font-weight: bold; margin-top: 10px;">
    {{ errorMessage }}
  </p>
}
